.btn {
   display: block;
   text-align: center;
   margin: auto;
   size: 50%;
   width: 20%;
   background-color: #4ECCA3;
   font-size: 200%;
   border-radius: 12px;
}

.btn:hover {
   border: solid #DD380D 1px;
   background: #DD380D;
   background-image: -webkit-linear-gradient(top, #DD380D, #DD380D);
   background-image: -moz-linear-gradient(top, #DD380D, #DD380D);
   background-image: -ms-linear-gradient(top, #DD380D, #DD380D);
   background-image: -o-linear-gradient(top, #DD380D, #DD380D);
   background-image: -webkit-gradient(to bottom, #DD380D, #DD380D);
   border-radius: 12px;
   text-decoration: none;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h3{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
